@import "tailwindcss";
@source "node_modules/preline/dist";

@utility container {
    margin-inline: auto;
    padding-inline: 1.5rem;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}


@layer base {

  html, body {
    scrollbar-width: none;
  }
  
  html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
  }

  @font-face {
    font-family: 'Barlow';
    src: url('./assets/Barlow-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  body {
    font-family: 'Barlow', sans-serif;
  }
}

/* Marquee effect from https://codepen.io/lightbulbdesign/pen/wvywpdg?anon=true&view=pen */

.marquee {
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}


.imagemarqueeright {
  animation: imagemarqueeright 30s linear infinite; 
}

@keyframes imagemarqueeright {
  100% { transform: translateX(0%); }
  0% { transform: translateX(-50%); } 
}

.imagemarqueeleft {
  animation: imagemarqueeleft 30s linear infinite; 
}

@keyframes imagemarqueeleft {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); } 
}